.contenedor-de-categorias{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 150px;
    padding: 30px;    
}
.contenedor-de-categorias2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(80px, auto);
    gap: 120px;
    padding: 10px 5px;
}
.contenedor-de-ofertas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(80px, auto);
    gap: 20px;
    padding: 10px 5px;
    
}
.contenedor-de-ofertas2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 150px;
    padding: 25px;
}