


@media (max-width:700px){
    .header{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    
}

.logo-header

.nav-menu
@media (max-width:700px){
    .nav-menu ul{
        font-size: 2px;
    }
    .nav-menu ul li{
        margin: 10px;
    }
}










@media (max-width:700px){
    .contenedor-de-categorias2{
        display: grid;
        place-items: center;
        
    }

}











